bruno/.env
.vs/Tazerwa.slnx/FileContentIndex/503ff108-a0b2-4a18-b6a6-3e99c0507d38.vsidx
.vs/Tazerwa.slnx/FileContentIndex/fed8e011-bc0b-4023-a77c-d91bf2c432fc.vsidx
.vs/slnx.sqlite
.vs/Tazerwa.slnx/FileContentIndex/1ec95a7b-d9c8-455f-9460-0d300cb28185.vsidx
.vs/Tazerwa.slnx/FileContentIndex/9686f6cd-f912-4677-a2a2-12e9e7946f15.vsidx
*.vsidx
*.sqlite
.env
